.report-chart {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.report-paid-orders {
  text-align: center;
}
.report-paid-orders {
  display: flex;
  justify-content: center;
}
.reports-table {
  display: flex;
  justify-content: center;
  margin: 0 40px 0 40px;
}
.reports-table i {
  color: #41b8d5;
  cursor: pointer;
}
.paid-order-printBtn {
  background-color: #41b8d5;
  border: none;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
  align-self: center;
  cursor: pointer;
}
.report-paid-orders-filter {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}
.report-paid-orders-filter input[type='text'] {
  font-size: 18px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 10px;
}
.report-paid-orders-filter span i {
  font-size: 20px;
}
.paid-order-print {
  margin: 40px 40px 0;
}
