.reports-header {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
}
.reports-header h1,
.report-paid-orders h1 {
  border-bottom: 4px solid #41b8d5;
}
.report-chart {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.report-paid-orders {
  text-align: center;
}
.report-paid-orders {
  display: flex;
  justify-content: center;
}
.reports-table {
  display: flex;
  justify-content: center;
  margin: 0 40px 0 40px;
}
.reports-table i {
  color: #41b8d5;
  cursor: pointer;
}
table,
td,
th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 40px;
  color: #fff;
  background-color: #191919;
}
