@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

/* layout goes here */
#dashboard {
  color: black;
  display: grid;
  grid-template-areas:
    'nav header header'
    'nav content content'
    'nav content content';
  height: 100%;
  width: 100%;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 300px 1fr;
}
#generate {
  color: black;
  display: grid;
  grid-template-areas:
    'nav content content'
    'nav content content'
    'nav content content';
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 300px 1fr;
}
nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
main {
  grid-area: content;
  padding: 15px;
}
table,
td,
th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 40px;
  color: #fff;
  background-color: #191919;
}

@media (max-width: 800px) {
  nav {
    display: none;
  }
  #dashboard {
    grid-template-areas:
      'header header'
      'content content'
      'content content';
  }
}
